/*https://github.com/adilmoujahid/DonorsChoose_Visualization/blob/master/static/lib/css/dc.css
*/
#courses-chart {
	margin: auto;
	position: relative; 
}
#gender-chart {
	margin: auto;
	position: relative; 
}
#type-chart {
	margin: auto;
	position: relative; 
}
#age-chart {
	margin: auto;
	position: relative; 
}
#all-students {
	margin: auto;
	position: relative; 
}

div.dc-chart {
}

.dc-chart rect.bar {
    
    cursor: pointer;
}

.dc-chart .pie-slice {
    font-size: 12px;
    cursor: pointer;
}



.dc-chart .axis text {
    font: 10px sans-serif;
}

.dc-chart .grid-line {
    opacity: .5;
}

.dc-chart .grid-line line {
    opacity: .5;
}

.dc-chart .brush rect.background {
    z-index: -999;
}

.dc-chart .node {
    font-size: 0.7em;
    cursor: pointer;
}


.dc-data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.dc-data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}

.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}


.dc-chart g.state {
    cursor: pointer;
}

.dc-chart g.deselected text {
    display: none;
}

.dc-chart g.row rect {
    cursor: pointer;
}

.dc-chart g.row text {
    font-size: 12px;
    cursor: pointer;
}

.dc-legend {
    font-size: 11px;
}

.dc-legend-item {
    cursor: pointer;
}

.dc-chart g.axis text {
    /* Makes it so the user can't accidentally click and select text that is meant as a label only */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 */
    -o-user-select: none;
 }

.dc-hard .number-display {
    float: none;
}